name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE.txt

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet: [ '8.0.x', '9.0.x', '10.0.x' ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - name: Compile source
        run: dotnet build src/HL7-V2.csproj --configuration Release

      - name: Run unit tests
        run: dotnet test test/HL7Test.csproj --configuration Release --logger:trx
        env:
          TEST_TITLE: HL7-V2 unit test

  deploy:
    runs-on: windows-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Prepare NuGet package
        run: dotnet pack src/HL7-V2.csproj --configuration Release

      - name: Publish NuGet package
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: dotnet nuget push "src/bin/Release/**/*.nupkg" --api-key "$env:NUGET_API_KEY" --source "https://api.nuget.org/v3/index.json"
